<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      card examples
    </ng-template>
    <h1>cards</h1>
    <p>...</p>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Modal
    </ng-template>
    <button color="primary" md-raised-button (click)="launchModal()">launch modal</button>

  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Animations
    </ng-template>
    
     animations

     <div 
     (click)="clickInfo = 'clicked'"
     [@clickedState]="clickInfo"></div>

  </md-tab>
</md-tab-group>

