<!--The whole content below can be removed with the new code.-->
<!-- <users-online></users-online> -->
        <md-toolbar color="primary">
            <button md-icon-button (click)="sidenav.toggle()" *ngIf="show">
                <md-icon class="md-24" >menu</md-icon>
            </button>
            <span md-truncate flex style="font-size:30px">GaZeebo</span>
             <span class="example-fill-remaining-space"></span>
                 <button md-icon-button (click)="logout()" *ngIf="show">
                 Logout
                <!--<md-icon class="md-24" >tools</md-icon>-->
            </button>
               <!-- <button md-icon-button routerLink="/tools" >
                 <i class="material-icons">settings_input_component</i>
               
            </button> -->
        </md-toolbar>
<md-sidenav-container >
    <md-sidenav #sidenav mode="side" class="app-sidenav" style="width:300px;background-color:darkgrey;">
      <md-nav-list style="color:white">
          <a md-list-item routerLink="/home" routerLinkActive="active">Home</a>
          <a md-list-item routerLink="#">Friends</a>
          <a md-list-item routerLink="/channels">Channels<i class="material-icons">textsms</i></a>
          <a md-list-item routerLink="/profile" >Profile</a>
      </md-nav-list>
    </md-sidenav>

    <div class="app-content container" style="height: 100%; ">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>


