<br/>
<div class="row">
  <div class="col-lg-4">
    <h4 style="color:whitesmoke">Online</h4>
  </div>
  <div class="col-lg-8">
    <input class="form-control" placeholder="search">

  </div>
</div>
<hr>




<div *ngFor="let user of userList | async" (click)="selectUser(user)" style="border: 1px solid white; border-radius: 6px;height:70px;padding-top:5px;margin-bottom:3px">

  <img [src]="user.avatar" title="" width="42" height="42">
  <span>{{ user.first_name}} {{ user.last_name}}</span>
</div>
