<h1>Personal Info</h1>
<h3 color="primary">{{ profileData.email }}</h3>
<hr/>


<div class="col-md-6 col-md-offset-3">

    <form class="formwidth" (ngSubmit)="saveProfile()" #myForm="ngForm">
        <div class="form-group" >
            <md-input-container  class="fullwidth">
            <input type="text" placeholder="nickname" mdInput name="nickname" [(ngModel)]="profileData.nick_name" />
             </md-input-container>
        </div>
        <div class="form-group">
           <table width="100%">
        <tr>
            <td>
            <md-input-container  class="fullwidth">
                <input type="text" placeholder="First name" mdInput name="firstname" [(ngModel)]="profileData.first_name" required />
                </md-input-container>
            </td>
            <td>
            <md-input-container  class="fullwidth">
                <input type="text" placeholder="Last name" mdInput name="lastname" [(ngModel)]="profileData.last_name" required />
                </md-input-container>
            </td>
   
          </tr>
           </table>
        </div>  
         <div class="form-group">
            <md-select placeholder="Gender" [(ngModel)]="profileData.gender" name="gender" required>
                <md-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
                </md-option>
              </md-select>
        </div>
          <div class="form-group">
            <md-input-container>
            <input mdInput [mdDatepicker]="picker" placeholder="Birthday" name="birthday" [(ngModel)]="profileData.birthday">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
        </div>
         <div class="form-group">
        <button *ngIf="!profileData.avatar" color="primary" md-raised-button  
        (click)="launchAvatarModal()">Select Avatar</button>
        <img *ngIf="profileData.avatar" [src]="profileData.avatar" title="" width="96" height="96" (click)="launchAvatarModal()">
            <!--<img *ngIf="loading" src="" />-->
            
        </div>
        <div class="form-group">
            <button color="primary" md-raised-button  type="submit">Save</button>
            <!--<img *ngIf="loading" src="" />-->
            <!--<a (click)="saveProfile()" class="btn btn-link">Save</a>-->
        </div>
    </form>
</div>

